#container{
margin-top: 20px;
margin-left: 20px;
margin-right: 200px;

}

h1{
  font-size: 64px;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 32px;
}

h4{
  font-size: 24px;
}

#body{
 padding-left: 50px;
   padding-right: 50px;
  border-left:150px;
  border-right: 150px;
  border-top: 50px;
  border-bottom: 50px;
    
}
