#container{
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 20px;
  
  padding: 10px 150px 10px 150px;
  
  border-radius: 15px;
  background-color: #D3D3D3;
  
  text-align: left;
}

img.resize{
 width: 50%;
 height: 50%;
}

h1{
  font-size: 64px;
  
}

h2{
  font-size: 18px;
  
}

h3{
  font-size: 32px;
  
}

h4{
  font-size: 24px;
  
}

